<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cameras - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/cameras.css"/>
</head>
<body>
	<header>
		<a href="home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<div class="categories">

		<p><h2>Categories</h2></p>
		<div class="each">
			<p><a href="smartphones" class="smartphones">&nbsp;&nbsp;Smartphones<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="tablets" class="tablets">&nbsp;&nbsp;Tablets<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="laptops" class="laptops">&nbsp;&nbsp;Laptops<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="computers" class="computers">&nbsp;&nbsp;Computers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="cameras" class="cameras">&nbsp;&nbsp;Cameras<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="monowheels" class="monowheels">&nbsp;&nbsp;Monowheels<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="scooters" class="scooters">&nbsp;&nbsp;Scooters<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="speakers" class="speakers">&nbsp;&nbsp;Speakers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>

	</div>
	
	<p>&nbsp;&nbsp;<strong><a href="home" class="path">home</a> / cameras</strong></p>
	
	<hr>
	
	<div class="row">
		<div class="djiPocket2">
			<img src="/img/djiPocket2.jpg" alt="Camera DJI Pocket 2" width="140">
			<h4 align="center"><a href="cameras/djiPocket2">Camera DJI Pocket 2 (Black)</a></h4>
			<p align="center"><strong>399$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="xiaomiSeabird">
			<img src="/img/xiaomiSeabird.jpg" alt="Xiaomi Seabird 4K Action Camera (Blue)" width="190" height="190">
			<h4 align="center"><a href="cameras/xiaomiSeabird">Xiaomi Seabird 4K Action Camera (Blue)</a></h4>
			<p align="center"><strong>119$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="goPro9">
			<img src="/img/goPro9.jpg" alt="GoPro HERO 9 (Black)" height="190" width="190">
			<h4 align="center"><a href="cameras/goPro9">Action Camera GoPro HERO 9 (Black)</a></h4>
			<p align="center"><strong>499$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
	
</body>
</html>
