<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>DJI Pocket 2 - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/generalGoodDesign.css"/>
</head>
<body>
	<header>
		<a href="http://localhost:8080/home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<p>&nbsp;&nbsp;<strong><a href="http://localhost:8080/home" class="path">home</a>&nbsp;&nbsp; / &nbsp;&nbsp;<a href="http://localhost:8080/cameras" class="path">cameras</a>&nbsp;&nbsp; / &nbsp; DJI Pocket 2</strong></p>
	
	<hr>
	
	<div class="photo">
		<img src="/img/djiPocket2.jpg" alt="Camera DJI Pocket 2 (Black)" height="500">
	
	</div>
	<div class="info">
		<h1>Camera DJI Pocket 2 (Black)</h1>
		<h4>Discription</h4>
		<table>
			<tr>
				<th>Producer:</th>
				<th>DJI</th>
			</tr>
			<tr>
				<th>Type:</th>
				<th>Camera</th>
			</tr>
			<tr>
				<th>Slow motion:</th>
				<th>1080p/120fps(for 4x) / 1080p/240fps(for 8x)</th>
			</tr>
			<tr>
				<th>Still Photography Modes:</th>
				<th>Single Shot: 16MP, 64MP; Countdown: 3, 5, 7s; Panorama: 3×3, 180°</th>
			</tr>
			<tr>
				<th>Video Resolution:</th>
				<th>4K Ultra HD</th>
			</tr>
			
			<tr>
				<th>Video Modes:</th>
				<th>Video; HDR Video; Timelapse; Motionlapse; Hyperlapse8</th>
			</tr>
			<tr>
				<th>Weight:</th>
				<th>117 grams</th>
			</tr>
			<tr>
				<th>Video Formats:</th>
				<th>MP4</th>
			</tr>
			<tr>
				<th>Photo Formats:</th>
				<th>JPEG/DNG</th>
			</tr>
			<tr>
				<th>App:</th>
				<th>DJI Mimo</th>
			</tr>
			
			<tr>
				<th>Battery:</th>
				<th>Li-ion, 875mAh</th>
			</tr>
		</table>
		<p><strong>399$</strong></p>
		<input type="submit" action="Submit" value="Add to Cart">
	</div>
</body>
</html>
