<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home - Log in application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<header>
		<a href="home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	<div class="categories">

		<p><h2>Categories</h2></p>
		<div class="each">
			<p><a href="smartphones" class="smartphones">Smartphones<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="tablets" class="tablets">Tablets<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="laptops" class="laptops">Laptops<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="computers" class="computers">Computers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="cameras" class="cameras">Cameras<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="monowheels" class="monowheels">Monowheels<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="scooters" class="scooters">Scooters<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>

		<div class="each">
		<p><a href="speakers" class="speakers">Speakers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>

	</div>
</body>
</html>
