<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<header>
		<a href="home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	<div class="categories">

		<p><h2>Categories</h2></p>
		<div class="each">
			<p><a href="smartphones" class="smartphones">&nbsp;&nbsp;Smartphones<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="tablets" class="tablets">&nbsp;&nbsp;Tablets<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="laptops" class="laptops">&nbsp;&nbsp;Laptops<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="computers" class="computers">&nbsp;&nbsp;Computers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="cameras" class="cameras">&nbsp;&nbsp;Cameras<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="monowheels" class="monowheels">&nbsp;&nbsp;Monowheels<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="scooters" class="scooters">&nbsp;&nbsp;Scooters<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="speakers" class="speakers">&nbsp;&nbsp;Speakers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>

	</div>
	
	<h2 class="recommendations">Our Recommendations</h2>
	<div class="row">
		<div class="iphone12">
			<img src="/img/iphone12Main.png" alt="IPhone 12" width="200">
			<h4 align="center"><a href="smartphones/iphone12">Apple IPhone 12 64Gb (Green)</a></h4>
			<p align="center"><strong>999$</strong></p>
			<form action=iphone12>
				<input type="submit" action="iphone12" name="iphone12" value="Add to Cart">
			</form>
		</div>
		
		<div class="macbookAirM1">
			<img src="/img/macbookAirM1.jpg" alt="Macbook Air M1" width="190">
			<h4 align="center"><a href="laptops/macbook-air-m1">Macbook Air M1 13" 16/256Gb</a></h4>
			<p align="center"><strong>1199$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="inmotionV8">
			<img src="/img/inmotionV8.jpg" alt="Monowheel Inmotion V8" width="190">
			<h4 align="center"><a href="monowheels/inmotionV8">Monowheel SCV InMotion V8</a></h4>
			<p align="center"><strong>699$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="scooter1s">
			<img src="/img/scooter1s.jpg" alt="Xiaomi Mi Scooter 1S" width="190">
			<h4 align="center"><a href="scooters/scooter1s">Xiaomi Mi Scooter 1S (Black)</a></h4>
			<p align="center"><strong>499$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
	
	<div class="row">
		<div class="macMiniM1">
			<img src="/img/macMiniM1.jpg" alt="Apple Mac mini M1 Chip 256GB" width="200">
			<h4 align="center"><a href="smartphones/mac-mini-m1">Apple Mac mini M1 Chip 256GB</a></h4>
			<p align="center"><strong>699$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="djiPocket2">
			<img src="/img/djiPocket2.jpg" alt="Camera DJI Pocket 2" width="80" height="200">
			<h4 align="center"><a href="cameras/djiPocket2">Camera DJI Pocket 2 (Black)</a></h4>
			<p align="center"><strong>399$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="jblCharge4">
			<img src="/img/jblcharge4.jpg" alt="Speaker JBL Charge 4" width="190">
			<h4 align="center"><a href="speakers/jblCharge4">Speaker JBL Charge 4 (Black)</a></h4>
			<p align="center"><strong>199$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
</body>
</html>
