<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ipad Air 10.9 - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/generalGoodDesign.css"/>
</head>
<body>
	<header>
		<a href="http://localhost:8080/home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<p>&nbsp;&nbsp;<strong><a href="http://localhost:8080/home" class="path">home</a>&nbsp;&nbsp; / &nbsp;&nbsp;<a href="http://localhost:8080/tablets" class="path">tablets</a>&nbsp;&nbsp; / &nbsp; Ipad Air 10.9</strong></p>
	
	<hr>
	
	<div class="photo">
		<img src="/img/ipadAir109.png" alt="Apple iPad Air 10.9 64Gb Wi-Fi 2020 (Gray)" width="500">
	
	</div>
	<div class="info">
		<h1>Apple iPad Air 10.9" 64Gb Wi-Fi 2020 (Gray)</h1>
		<h4>Discription</h4>
		<table>
			<tr>
				<th>Producer:</th>
				<th>Apple</th>
			</tr>
			<tr>
				<th>Type:</th>
				<th>Tablet(iPad)</th>
			</tr>
			<tr>
				<th>Installed Os:</th>
				<th>iPadOS 14</th>
			</tr>
			<tr>
				<th>RAM:</th>
				<th>4GB</th>
			</tr>
			<tr>
				<th>Capacity:</th>
				<th>64GB</th>
			</tr>
			<tr>
				<th>Processor:</th>
				<th>A14 Bionic</th>
			</tr>
			<tr>
				<th>Cores:</th>
				<th>6</th>
			</tr>
			<tr>
				<th>Weight:</th>
				<th>458 grams</th>
			</tr>
			<tr>
				<th>Display:</th>
				<th>10.9 inch, IPS</th>
			</tr>
			<tr>
				<th>Sim-Cards:</th>
				<th>None</th>
			</tr>
			
			<tr>
				<th>Battery:</th>
				<th>Li-ion, 7606mAh</th>
			</tr>
			<tr>
				<th>Cameras:</th>
				<th>12MP</th>
			</tr>
		</table>
		<p><strong>699$</strong></p>
		<input type="submit" action="Submit" value="Add to Cart">
	</div>
</body>
</html>
