<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>iMac 2020 - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/generalGoodDesign.css"/>
</head>
<body>
	<header>
		<a href="http://localhost:8080/home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<p>&nbsp;&nbsp;<strong><a href="http://localhost:8080/home" class="path">home</a>&nbsp;&nbsp; / &nbsp;&nbsp;<a href="http://localhost:8080/computers" class="path">computers</a>&nbsp;&nbsp; / &nbsp; iMac 2020</strong></p>
	
	<hr>
	
	<div class="photo">
		<img src="/img/mac2020.jpg" alt="Apple iMac 21,5 4K 2020 Intel Core i5" width="500">
	
	</div>
	<div class="info">
		<h1>Apple iMac 21,5" 4K 2020 Intel Core i5</h1>
		<h4>Discription</h4>
		<table>
			<tr>
				<th>Producer:</th>
				<th>Apple</th>
			</tr>
			<tr>
				<th>Type:</th>
				<th>Computer (iMac)</th>
			</tr>
			<tr>
				<th>Installed Os:</th>
				<th>macOS Catalina</th>
			</tr>
			<tr>
				<th>RAM:</th>
				<th>8GB</th>
			</tr>
			<tr>
				<th>Capacity:</th>
				<th>256GB</th>
			</tr>
			<tr>
				<th>Processor:</th>
				<th>Intel Core i5 (Turbo Boost up to 4.1GHz)</th>
			</tr>
			<tr>
				<th>Cores:</th>
				<th>6</th>
			</tr>
			<tr>
				<th>Weight:</th>
				<th>5.48 kilograms</th>
			</tr>
			<tr>
				<th>Display:</th>
				<th>21.5-inch, Retina 4K display</th>
			</tr>
			<tr>
				<th>GPU:</th>
				<th>Radeon Pro 560X with 4GB of GDDR5 memory</th>
			</tr>
			
			<tr>
				<th>Ports:</th>
				<th>2x Thunderbolt 3(USB-C), 2x USB-A, Ethernet, HDMI, 3.5mm headphone jack</th>
			</tr>
		</table>
		<p><strong>1999$</strong></p>
		<input type="submit" action="Submit" value="Add to Cart">
	</div>
</body>
</html>
