<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home - Log in application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/generalGoodDesign.css"/>
</head>
<body>
	<header>
		<a href="http://localhost:8080/home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<p>&nbsp;&nbsp;<strong><a href="http://localhost:8080/home" class="path">home</a>&nbsp;&nbsp; / &nbsp;&nbsp;<a href="http://localhost:8080/laptops" class="path">laptops</a>&nbsp;&nbsp; / &nbsp; Macbook Pro 16</strong></p>
	
	<hr>
	
	<div class="photo">
		<img src="/img/macbookPro16.jpg" alt="Apple MacBook Pro 16 512Gb (Space Gray)" width="500">
	
	</div>
	<div class="info">
		<h1>Apple MacBook Pro 16" 512Gb (Space Gray)</h1>
		<h4>Discription</h4>
		<table>
			<tr>
				<th>Producer:</th>
				<th>Apple</th>
			</tr>
			<tr>
				<th>Type:</th>
				<th>Laptop (Macbook)</th>
			</tr>
			<tr>
				<th>Installed Os:</th>
				<th>macOS Catalina</th>
			</tr>
			<tr>
				<th>RAM:</th>
				<th>16GB</th>
			</tr>
			<tr>
				<th>Capacity:</th>
				<th>512GB</th>
			</tr>
			<tr>
				<th>Processor:</th>
				<th>Intel Core i7 (4.5ghz Tubo Boost)</th>
			</tr>
			<tr>
				<th>Cores:</th>
				<th>6</th>
			</tr>
			<tr>
				<th>Weight:</th>
				<th>2.0 kilograms</th>
			</tr>
			<tr>
				<th>Display:</th>
				<th>16 inch, IPS</th>
			</tr>
			<tr>
				<th>GPU:</th>
				<th>AMD Radeon Pro 5300M (4GB video memory)</th>
			</tr>
			
			<tr>
				<th>Battery:</th>
				<th>Li-ion, 8,000mAh</th>
			</tr>
			<tr>
				<th>Camera:</th>
				<th>HD 720p</th>
			</tr>
		</table>
		<p><strong>2999$</strong></p>
		<input type="submit" action="Submit" value="Add to Cart">
	</div>
</body>
</html>
