<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ninebot Z10 - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/generalGoodDesign.css"/>
</head>
<body>
	<header>
		<a href="http://localhost:8080/home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<p>&nbsp;&nbsp;<strong><a href="http://localhost:8080/home" class="path">home</a>&nbsp;&nbsp; / &nbsp;&nbsp;<a href="http://localhost:8080/monowheels" class="path">monowheels</a>&nbsp;&nbsp; / &nbsp; Ninebot Z10</strong></p>
	
	<hr>
	
	<div class="photo">
		<img src="/img/ninebotZ10Main.jpg" alt="Monowheel Segway-Ninebot Z10" width="500" >
	
	</div>
	<div class="info">
		<h1>Monowheel Segway-Ninebot Z10</h1>
		<h4>Discription</h4>
		<table>
			<tr>
				<th>Producer:</th>
				<th>Segway-Ninebot</th>
			</tr>
			<tr>
				<th>Type:</th>
				<th>Monowheel</th>
			</tr>
			<tr>
				<th>Wheel:</th>
				<th>18 inch</th>
			</tr>
			<tr>
				<th>Battery Range:</th>
				<th>90 km</th>
			</tr>
			<tr>
				<th>Max Speed:</th>
				<th>45 km/h</th>
			</tr>
			<tr>
				<th>Motor:</th>
				<th>1800 W</th>
			</tr>
			<tr>
				<th>Weight:</th>
				<th>30,64 kilograms</th>
			</tr>
			<tr>
				<th>Battery:</th>
				<th>Li-ion, 950 Wh</th>
			</tr>
			<tr>
				<th>App compatibility:</th>
				<th>Android / IOS</th>
			</tr>
		</table>
		<p><strong>2099$</strong></p>
		<input type="submit" action="Submit" value="Add to Cart">
	</div>
</body>
</html>
