<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Samsung S21 - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/generalGoodDesign.css"/>
</head>
<body>
	<header>
		<a href="http://localhost:8080/home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<p>&nbsp;&nbsp;<strong><a href="http://localhost:8080/home" class="path">home</a>&nbsp;&nbsp; /&nbsp;&nbsp; <a href="http://localhost:8080/smartphones" class="path">smartphones</a>&nbsp;&nbsp; / &nbsp; Samsung S21</strong></p>
	
	<hr>
	
	<div class="photo">
		<img src="/img/samsungS21.webp" alt="Samsung Galaxy S21 (Phantom Silver)" width="300">
	
	</div>
	<div class="info">
		<h1>Samsung Galaxy S21 (Phantom Silver)</h1>
		<h4>Discription</h4>
		<table>
			<tr>
				<th>Producer:</th>
				<th>Samsung</th>
			</tr>
			<tr>
				<th>Type:</th>
				<th>Smartphone</th>
			</tr>
			<tr>
				<th>Installed Os:</th>
				<th>Android 11, One UI 3.0</th>
			</tr>
			<tr>
				<th>RAM:</th>
				<th>8GB</th>
			</tr>
			<tr>
				<th>Capacity:</th>
				<th>128GB</th>
			</tr>
			<tr>
				<th>Processor:</th>
				<th>Samsung Exynos 2100 + Mali-G78</th>
			</tr>
			<tr>
				<th>Cores:</th>
				<th>8</th>
			</tr>
			<tr>
				<th>Weight:</th>
				<th>172 grams</th>
			</tr>
			<tr>
				<th>Display:</th>
				<th>6.2 inch, Dynamic AMOLED 2X 421 ppi</th>
			</tr>
			<tr>
				<th>Sim-Cards:</th>
				<th>2 (Nano-SIM + eSIM)</th>
			</tr>
			
			<tr>
				<th>Battery:</th>
				<th>Li-ion, 4000mAh</th>
			</tr>
			<tr>
				<th>Cameras:</th>
				<th>12MP + 64MP + 3MP + 12MP</th>
			</tr>
		</table>
		<p><strong>999$</strong></p>
		<input type="submit" action="Submit" value="Add to Cart">
	</div>
</body>
</html>
