<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Scooter 1S - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/generalGoodDesign.css"/>
</head>
<body>
	<header>
		<a href="http://localhost:8080/home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<p>&nbsp;&nbsp;<strong><a href="http://localhost:8080/home" class="path">home</a>&nbsp;&nbsp; / &nbsp;&nbsp;<a href="http://localhost:8080/scooters" class="path">scooters</a>&nbsp;&nbsp; / &nbsp; Xiaomi Mi 1S</strong></p>
	
	<hr>
	
	<div class="photo">
		<img src="/img/scooter1s.jpg" alt="Scooter Xiaomi Mi 1S (Black)" width="500" >
	
	</div>
	<div class="info">
		<h1>Scooter Xiaomi Mi 1S (Black)</h1>
		<h4>Discription</h4>
		<table>
			<tr>
				<th>Producer:</th>
				<th>Xiaomi</th>
			</tr>
			<tr>
				<th>Type:</th>
				<th>Scooter</th>
			</tr>
			<tr>
				<th>Wheels:</th>
				<th>8.5 inch</th>
			</tr>
			<tr>
				<th>Battery Range:</th>
				<th>30km</th>
			</tr>
			<tr>
				<th>Max Speed:</th>
				<th>25 km/h</th>
			</tr>
			<tr>
				<th>Motor:</th>
				<th>250 W</th>
			</tr>
			<tr>
				<th>Weight:</th>
				<th>12.5 kilograms</th>
			</tr>
			<tr>
				<th>Battery:</th>
				<th>Li-ion, 275Wh</th>
			</tr>
		</table>
		<p><strong>499$</strong></p>
		<input type="submit" action="Submit" value="Add to Cart">
	</div>
</body>
</html>
