<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home - Log in application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/scooters.css"/>
</head>
<body>
	<header>
		<a href="home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<div class="categories">

		<p><h2>Categories</h2></p>
		<div class="each">
			<p><a href="smartphones" class="smartphones">&nbsp;&nbsp;Smartphones<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="tablets" class="tablets">&nbsp;&nbsp;Tablets<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="laptops" class="laptops">&nbsp;&nbsp;Laptops<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="computers" class="computers">&nbsp;&nbsp;Computers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="cameras" class="cameras">&nbsp;&nbsp;Cameras<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="monowheels" class="monowheels">&nbsp;&nbsp;Monowheels<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="scooters" class="scooters">&nbsp;&nbsp;Scooters<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="speakers" class="speakers">&nbsp;&nbsp;Speakers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>

	</div>
	
	<p>&nbsp;&nbsp;<strong><a href="home" class="path">home</a> / scooters</strong></p>
	
	<hr>
	
	<div class="row">
		<div class="scooter1s">
			<img src="/img/scooter1s.jpg" alt="Xiaomi Mi Scooter 1S" width="190">
			<h4 align="center"><a href="scooters/scooter1s">Scooter Xiaomi Mi 1S (Black)</a></h4>
			<p align="center"><strong>499$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="ninebotE10">
			<img src="/img/ninebotE10.jpg" alt="Scooter Segway-Ninebot E10" width="180">
			<h4 align="center"><a href="scooters/ninebotE10">Scooter Segway-Ninebot E10</a></h4>
			<p align="center"><strong>399$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="ninebotE45E">
			<img src="/img/ninebotE45E.jpg" alt="Scooter Segway-Ninebot E45E" width="180">
			<h4 align="center"><a href="scooters/ninebotE45E">Scooter Segway-Ninebot E45E</a></h4>
			<p align="center"><strong>799$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
	
</body>
</html>
