<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home - Log in application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/smartphones.css"/>
</head>
<body>
	<header>
		<a href="home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<div class="categories">

		<p><h2>Categories</h2></p>
		<div class="each">
			<p><a href="smartphones" class="smartphones">&nbsp;&nbsp;Smartphones<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="tablets" class="tablets">&nbsp;&nbsp;Tablets<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="laptops" class="laptops">&nbsp;&nbsp;Laptops<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="computers" class="computers">&nbsp;&nbsp;Computers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="cameras" class="cameras">&nbsp;&nbsp;Cameras<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="monowheels" class="monowheels">&nbsp;&nbsp;Monowheels<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="scooters" class="scooters">&nbsp;&nbsp;Scooters<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="speakers" class="speakers">&nbsp;&nbsp;Speakers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>

	</div>
	
	<p>&nbsp;&nbsp;<strong><a href="home" class="path">home</a> / smartphones</strong></p>
	
	<hr>
	
	<div class="row">
		<div class="iphone12">
			<img src="/img/iphone12.jpg" alt="IPhone 12" width="200">
			<h4 align="center"><a href="smartphones/iphone12">Apple IPhone 12 64Gb (Green)</a></h4>
			<p align="center"><strong>999$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="iphoneXS">
			<img src="/img/iphoneXS.jpg" alt="IPhone XS" width="200">
			<h4 align="center"><a href="smartphones/iphoneXS">Apple IPhone XS 64Gb (Gold)</a></h4>
			<p align="center"><strong>799$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="iphoneSE2">
			<img src="/img/iphoneSE2.jpg" alt="IPhone SE 2" width="200">
			<h4 align="center"><a href="smartphones/iphoneSE2">Apple IPhone SE 2 64Gb (Red)</a></h4>
			<p align="center"><strong>699$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="onePlus9">
			<img src="/img/onePlus9.jpg" alt="onePlus9" width="200">
			<h4 align="center"><a href="smartphones/onePlus9">OnePlus 9 Pro 8-256Gb (Morning Mist)</a></h4>
			<p align="center"><strong>899$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
	
	<div class="row">
		<div class="samsungS21">
			<img src="/img/samsungS21.jpg" alt="samsungS21" width="200">
			<h4 align="center"><a href="smartphones/samsungS21">Samsung Galaxy S21 (Phantom Silver)</a></h4>
			<p align="center"><strong>999$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="redmi9T">
			<img src="/img/redmi9T.jpg" alt="redmi9T" width="160" height="160">
			<h4 align="center"><a href="smartphones/redmi9T">Xiaomi Redmi 9T 4/64GB (Ocean Green)</a></h4>
			<p align="center"><strong>199$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
	
</body>
</html>
