<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home - Log in application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/speakers.css"/>
</head>
<body>
	<header>
		<a href="home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<div class="categories">

		<p><h2>Categories</h2></p>
		<div class="each">
			<p><a href="smartphones" class="smartphones">&nbsp;&nbsp;Smartphones<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="tablets" class="tablets">&nbsp;&nbsp;Tablets<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="laptops" class="laptops">&nbsp;&nbsp;Laptops<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="computers" class="computers">&nbsp;&nbsp;Computers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="cameras" class="cameras">&nbsp;&nbsp;Cameras<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="monowheels" class="monowheels">&nbsp;&nbsp;Monowheels<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="scooters" class="scooters">&nbsp;&nbsp;Scooters<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="speakers" class="speakers">&nbsp;&nbsp;Speakers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>

	</div>
	
	<p>&nbsp;&nbsp;<strong><a href="home" class="path">home</a> / speakers</strong></p>
	
	<hr>
	
	<div class="row">
		<div class="jblCharge4">
			<img src="/img/jblcharge4.jpg" alt="Speaker JBL Charge 4" width="190">
			<h4 align="center"><a href="speakers/jblCharge4">Speaker JBL Charge 4 (Black)</a></h4>
			<p align="center"><strong>169$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="jblCharge5">
			<img src="/img/jblcharge5.jpg" alt="Speaker JBL Charge 5" width="190">
			<h4 align="center"><a href="speakers/jblCharge5">Speaker JBL Charge 5 (Blue)</a></h4>
			<p align="center"><strong>199$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="jblPartyBox">
			<img src="/img/jblPartyBox.jpg" alt="Speaker JBL PartyBox 1000 (Black)" width="170" height="140">
			<h4 align="center"><a href="speakers/jblPartyBox">Speaker JBL PartyBox 1000 (Black)</a></h4>
			<p align="center"><strong>1099$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="jblFlip5">
			<img src="/img/jblFlip5.jpg" alt="JBL Flip 5 (Squad)" width="170">
			<h4 align="center"><a href="speakers/jblFlip5">Speaker JBL Flip 5 (Squad)</a></h4>
			<p align="center"><strong>119$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
	
	<div class="row">
		<div class="jblTuner2">
			<img src="/img/jblTuner2.jpg" alt="SpeakerJBL Tuner 2 (Black)" width="190">
			<h4 align="center"><a href="speakers/jblTuner2">Speaker JBL Tuner 2 (Black)</a></h4>
			<p align="center"><strong>129$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
	
</body>
</html>
