<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Tablets - Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/tablets.css"/>
</head>
<body>
	<header>
		<a href="home"><img src='/img/shop.png' class="git" alt="Shop logo" width="80" height="80"/></a>
		<a href="register" class="register">Register</a>
		<a href="login" class="login">Log In</a>
		<a href="cart" class="cart"><img src="/img/cart.png" alt="cart" width="50"/></a>
	</header>
	
	<div class="categories">

		<p><h2>Categories</h2></p>
		<div class="each">
			<p><a href="smartphones" class="smartphones">&nbsp;&nbsp;Smartphones<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="tablets" class="tablets">&nbsp;&nbsp;Tablets<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="laptops" class="laptops">&nbsp;&nbsp;Laptops<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="computers" class="computers">&nbsp;&nbsp;Computers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="cameras" class="cameras">&nbsp;&nbsp;Cameras<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="monowheels" class="monowheels">&nbsp;&nbsp;Monowheels<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="scooters" class="scooters">&nbsp;&nbsp;Scooters<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>
		<div class="each">
		<p><a href="speakers" class="speakers">&nbsp;&nbsp;Speakers<img src="/img/right-arrow.png" alt="Arrow" width="20" class="arrowImg"></a></p>
		</div>

	</div>
	
	<p>&nbsp;&nbsp;<strong><a href="home" class="path">home</a> / tablets</strong></p>
	
	<hr>
	
	<div class="row">
		<div class="ipadAir109">
			<img src="/img/ipadAir109.png" alt="ipadAir109" width="200">
			<h4 align="center"><a href="tablets/ipadAir109">Apple iPad Air 10.9" 64Gb Wi-Fi 2020 (Gray)</a></h4>
			<p align="center"><strong>699$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="ipadMini5">
			<img src="/img/ipadMini5.png" alt="ipadMini5" width="200">
			<h4 align="center"><a href="tablets/ipadMini5">Apple iPad mini 7.9" 64Gb Wi-Fi 2019 (Space Gray)</a></h4>
			<p align="center"><strong>399$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
		
		<div class="ipadM1">
			<img src="/img/ipadM1.jpg" alt="Apple iPad Pro 12.9 M1" width="200">
			<h4 align="center"><a href="tablets/ipadM1">Apple iPad Pro 12.9" 128GB M1 (Space Gray)</a></h4>
			<p align="center"><strong>1499$</strong></p>
			<input type="submit" action="Submit" value="Add to Cart">
		</div>
	</div>
	
</body>
</html>
