body {
	font-family: Arial, sans-serif;
	
}

header {
	background-color: yellow;
	height: 80px;
}

header a {
	text-decoration: none;
	padding: 15px 16px;
	vertical-align: middle;
	color: black;
}

.register {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.login {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.cart {
	float: right;
}


.categories {
	float: left;
	background-color: yellow;
	width: 200px;
}

.categories h2 {
	text-align: center;
}

.categories a {
	color: black;
	text-decoration: none;
}

.categories .smartphones {
	padding-right: 75px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .tablets {
	padding-right: 119px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .laptops {
	padding-right: 114px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .computers {
	padding-right: 92px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .cameras {
	padding-right: 106px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .monowheels {
	padding-right: 81px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .scooters {
	padding-right: 107px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .speakers {
	padding-right: 103px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.each {
	padding-top: 1px;
	padding-bottom: 1px;
}

.each:hover {
	color: black;
	background-color: #D4BD00;
	
}

.arrowImg {
	float: right;
}

.path {
	text-decoration: none;
	color: black
}

.path:hover {
	text-decoration: underline;
}

hr {
	border-top: 3px solid yellow;
}

.row {
	display: table;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	border-spacing: 10px;
}

.iphone12 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.iphone12 a {
	text-decoration: none;
	color: black;
}

.iphone12 a:hover {
	text-decoration: underline;
}

.iphone12 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.iphone12 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.iphoneXS {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.iphoneXS a {
	text-decoration: none;
	color: black;
}

.iphoneXS a:hover {
	text-decoration: underline;
}

.iphoneXS input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.iphoneXS input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.iphoneXS img {
	margin-bottom: 5px;
}

.iphoneSE2 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.iphoneSE2 a {
	text-decoration: none;
	color: black;
}

.iphoneSE2 a:hover {
	text-decoration: underline;
}

.iphoneSE2 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.iphoneSE2 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.onePlus9 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.onePlus9 a {
	text-decoration: none;
	color: black;
}

.onePlus9 a:hover {
	text-decoration: underline;
}

.onePlus9 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.onePlus9 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}


.samsungS21 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.samsungS21 a {
	text-decoration: none;
	color: black;
}

.samsungS21 a:hover {
	text-decoration: underline;
}

.samsungS21 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.samsungS21 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.redmi9T {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.redmi9T a {
	text-decoration: none;
	color: black;
}

.redmi9T a:hover {
	text-decoration: underline;
}

.redmi9T input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.redmi9T input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.redmi9T img {
	margin-left: 25px;
	padding-top: 60px;
	padding-bottom: 10px;
}
