body {
	font-family: Arial, sans-serif;
	
}

header {
	background-color: yellow;
	height: 80px;
}

header a {
	text-decoration: none;
	padding: 15px 16px;
	vertical-align: middle;
	color: black;
}

.register {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.login {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.cart {
	float: right;
}


.categories {
	float: left;
	background-color: yellow;
	width: 200px;
}

.categories h2 {
	text-align: center;
}

.categories a {
	color: black;
	text-decoration: none;
}

.categories .smartphones {
	padding-right: 75px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .tablets {
	padding-right: 119px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .laptops {
	padding-right: 114px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .computers {
	padding-right: 92px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .cameras {
	padding-right: 106px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .monowheels {
	padding-right: 81px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .scooters {
	padding-right: 107px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .speakers {
	padding-right: 103px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.each {
	padding-top: 1px;
	padding-bottom: 1px;
}

.each:hover {
	color: black;
	background-color: #D4BD00;
	
}

.arrowImg {
	float: right;
}

.path {
	text-decoration: none;
	color: black
}

.path:hover {
	text-decoration: underline;
}

hr {
	border-top: 3px solid yellow;
}

.row {
	display: table;
	table-layout: fixed;
	border-spacing: 10px;
}

.jblCharge4 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	padding-top: 110px;
	display: table-cell;
}

.jblCharge4 a {
	text-decoration: none;
	color: black;
}

.jblCharge4 a:hover {
	text-decoration: underline;
}

.jblCharge4 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.jblCharge4 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.jblCharge4 img {
	margin-left: 5px;
}

.jblCharge5 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	padding-top: 110px;
	display: table-cell;
}

.jblCharge5 a {
	text-decoration: none;
	color: black;
}

.jblCharge5 a:hover {
	text-decoration: underline;
}

.jblCharge5 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.jblCharge5 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.jblCharge5 img {
	margin-left: 5px;
}

.jblPartyBox {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	padding-top: 110px;
	display: table-cell;
}

.jblPartyBox a {
	text-decoration: none;
	color: black;
}

.jblPartyBox a:hover {
	text-decoration: underline;
}

.jblPartyBox input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.jblPartyBox input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.jblPartyBox img {
	margin-left: 15px;
}

.jblFlip5 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	padding-top: 110px;
	display: table-cell;
}

.jblFlip5 a {
	text-decoration: none;
	color: black;
}

.jblFlip5 a:hover {
	text-decoration: underline;
}

.jblFlip5 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.jblFlip5 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.jblFlip5 img {
	margin-left: 15px;
}

.jblTuner2 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	padding-top: 110px;
	display: table-cell;
}

.jblTuner2 a {
	text-decoration: none;
	color: black;
}

.jblTuner2 a:hover {
	text-decoration: underline;
}

.jblTuner2 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.jblTuner2 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.jblTuner2 img {
	margin-left: 15px;
}

