body {
	font-family: Arial, sans-serif;
}

header {
	background-color: yellow;
	height: 80px;
}

header a {
	text-decoration: none;
	padding: 15px 16px;
	vertical-align: middle;
	color: black;
}




.register {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.login {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.cart {
	float: right;
}