body {
	font-family: Arial, sans-serif;
	
}

header {
	background-color: yellow;
	height: 80px;
}

header a {
	text-decoration: none;
	padding: 15px 16px;
	vertical-align: middle;
	color: black;
}

.register {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.login {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.cart {
	float: right;
}

.categories {
	float: left;
	background-color: yellow;
	width: 200px;
}

.categories h2 {
	text-align: center;
}

.categories a {
	color: black;
	text-decoration: none;
}

.categories .smartphones {
	padding-right: 83px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .tablets {
	padding-right: 127px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .laptops {
	padding-right: 123px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .computers {
	padding-right: 100px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .cameras {
	padding-right: 115px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .monowheels {
	padding-right: 90px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .scooters {
	padding-right: 115px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .speakers {
	padding-right: 111px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.each {
	padding-top: 1px;
	padding-bottom: 1px;
}

.each:hover {
	color: black;
	background-color: #D4BD00;
	
}

.arrowImg {
	float: right;
}

.recommendations {
	text-align: center;
}

.row {
	display: table;
	table-layout: fixed;
	border-spacing: 10px;
}

.iphone12 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.iphone12 a {
	text-decoration: none;
	color: black;
}

.iphone12 a:hover {
	text-decoration: underline;
}

.iphone12 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.iphone12 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.macbookAirM1 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.macbookAirM1 a {
	text-decoration: none;
	color: black;
}

.macbookAirM1 a:hover {
	text-decoration: underline;
}

.macbookAirM1 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.macbookAirM1 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.macbookAirM1 img {
	margin-left: 5px;
}

.inmotionV8 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.inmotionV8 a {
	text-decoration: none;
	color: black;
}

.inmotionV8 a:hover {
	text-decoration: underline;
}

.inmotionV8 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.inmotionV8 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.inmotionV8 img {
	margin-left: 5px;
}

.scooter1s {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.scooter1s a {
	text-decoration: none;
	color: black;
}

.scooter1s a:hover {
	text-decoration: underline;
}

.scooter1s input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.scooter1s input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.scooter1s img {
	margin-left: 5px;
}

.macMiniM1 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.macMiniM1 a {
	text-decoration: none;
	color: black;
}

.macMiniM1 a:hover {
	text-decoration: underline;
}

.macMiniM1 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.macMiniM1 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}


.djiPocket2 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.djiPocket2 a {
	text-decoration: none;
	color: black;
}

.djiPocket2 a:hover {
	text-decoration: underline;
}

.djiPocket2 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.djiPocket2 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.djiPocket2 img {
	margin-left: 58px;
}

.jblCharge4 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.jblCharge4 a {
	text-decoration: none;
	color: black;
}

.jblCharge4 a:hover {
	text-decoration: underline;
}

.jblCharge4 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.jblCharge4 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.jblCharge4 img {
	margin-left: 5px;
}
