body {
	font-family: Arial, sans-serif;
	
}

header {
	background-color: yellow;
	height: 80px;
}

header a {
	text-decoration: none;
	padding: 15px 16px;
	vertical-align: middle;
	color: black;
}

.register {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.login {
	padding-top: 30px;
	float: right;
	vertical-align: middle;
}

.cart {
	float: right;
}


.categories {
	float: left;
	background-color: yellow;
	width: 200px;
}

.categories h2 {
	text-align: center;
}

.categories a {
	color: black;
	text-decoration: none;
}

.categories .smartphones {
	padding-right: 75px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .tablets {
	padding-right: 119px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .laptops {
	padding-right: 114px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .computers {
	padding-right: 92px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .cameras {
	padding-right: 106px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .monowheels {
	padding-right: 81px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .scooters {
	padding-right: 107px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.categories .speakers {
	padding-right: 103px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.each {
	padding-top: 1px;
	padding-bottom: 1px;
}

.each:hover {
	color: black;
	background-color: #D4BD00;
	
}

.arrowImg {
	float: right;
}

.path {
	text-decoration: none;
	color: black
}

.path:hover {
	text-decoration: underline;
}

hr {
	border-top: 3px solid yellow;
}

.row {
	display: table;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	border-spacing: 10px;
}

.ipadAir109 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.ipadAir109 a {
	text-decoration: none;
	color: black;
}

.ipadAir109 a:hover {
	text-decoration: underline;
}

.ipadAir109 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.ipadAir109 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.ipadMini5 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.ipadMini5 a {
	text-decoration: none;
	color: black;
}

.ipadMini5 a:hover {
	text-decoration: underline;
}

.ipadMini5 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.ipadMini5 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

.ipadM1 {
	border: 2px solid black;
	margin-left: 220px;
	width: 200px;
	display: table-cell;
}

.ipadM1 a {
	text-decoration: none;
	color: black;
}

.ipadM1 a:hover {
	text-decoration: underline;
}

.ipadM1 input {
	background-color: yellow;
	float: center;
	margin-left: 1px;
	width: 198px;
	height: 30px;
	border: none;
}

.ipadM1 input:hover {
	background-color: #D4BD00;
	cursor: pointer;
}

